body {
  font-family: -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  margin: 0 auto;
  background: #fff;
  color: #333;
}

li,
p {
  line-height: 1.5rem;
}

a {
  font-weight: 500;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: .5rem;
  filter: invert(1);
}

.page-header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: auto;
  padding: 10px;
}

.page-header-back-title {
  display: flex;
}
.page-header-title {
  padding: 10px;
}
.page-header-buttons {
  display: flex;
/*  justify-content: flex-end;
  flex-grow: 10;
  background-color: lawngreen;
*/}
.page-header-button {
  padding: 5px;
}

.page-content {
  padding: 10px;
}

.general-page {
    margin: 5px;
    padding: 10px;
}